body  {
	margin: 0;
	padding: 0;	

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
	width: 100%;
}

a {
	text-decoration: none;
}

.container-wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	/*будет добавлены тень*/
}

/*HEADER*/

.main-header {
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: transparent;
}

.main-logo {
	left: 50%;
	width: 138px;
	height: 70px;
	position: absolute;
	transform: translateX(-50%);
}

.main-navigation {
	width: 100%;
	padding-left: 73px;
	padding-right: 73px;
	padding-top: 22px;
	padding-bottom: 8px;
	box-sizing: border-box;

	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
}

.navigation-list {
	display: flex;
	flex-direction: row;
	flex-basis: 1055px;	
	margin: 0;
	padding: 0;

	list-style: none;	
}

.navigation-link {
	color: #000000;
}

.navigation-item {
	width: 128px;
}

.navigation-item:first-child{
	padding-right: 112px;
}

.navigation-item:nth-child(2) {
	padding-right: 360px;
}

.navigation-item:nth-child(3) {
	padding-right: 112px;
}


.navigation-link:hover {
	color: #81b3d2;
}

.navigation-link:active {
	color: rgba(0,0,0,0.3);
}

.navigation-link:not([href]) {
	color: #766357;
}

/*MAIN`````````````````````````````````````````````````````*/
.intro {
	padding: 62px 371px 80px;

	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-position: center -85px;
	background-size: 100%;
	background-color: #81b3d2;
}

.intro::after {
	content: "";

	background-image: url("../img/mask-for-background.png");
	background-repeat: no-repeat;
}
/*Маска не срабатывает-Разобраться*/

.content-title {
	margin: 0 auto;
	padding-top: 65px;
	width: 450px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;	
}

.content-description {
	padding-top: 40px;
	padding-bottom: 45px;
	margin: 0;

	text-align: center;	
	line-height: 26px;
	color: #333333;
}

.reason {
	width: 400px;
	padding-top: 50px;
	padding-bottom: 60px;

	color: #ffffff;
	background-color: #81b3d2;
}

.true-city {
	padding-right: 800px;
	/*пространство для фона создала паддингом - ок?*/

	background-image: url("../img/background-true-city.jpg");
	background-repeat: no-repeat;
	background-position: right;
}

.devil-bridge {
	padding-left: 800px;

	background-image: url("../img/background-devil-bridge.jpg");
	background-repeat: no-repeat;
}

.reason-title {
	margin: 0 auto;
	width: 160px;
	padding-bottom: 25px;
	
	font-size: 21px;
	font-weight: 700;
	text-align: center;
}

.reason-count {
	display: block;
	position: relative;
	margin: 0 auto;
	
	text-align: center;
}

.reason-count::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 2px;
	background-color: #ffffff;
	margin-right: 6px;
	transform: translateY(-50%);
}

.reason-count::after {
	content: "";
	display: inline-block;
	margin-left: 6px;
	vertical-align: middle;
	width: 9px;
	height: 2px;
	background-color: #ffffff;
	transform: translateY(-50%);
}

.min.reason-count::before,
.min.reason-count::after {
	background-color: #333333;
}

.reason-description{
	margin: 0 auto;
	padding-top: 20px;
	width: 310px;

	text-align: center;
}

.advantages {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;

	list-style: none;
}

.advantages-item {
	width: 400px;
	padding-top: 165px;
	padding-bottom: 85px;

	background-position: center 60px;
}

.accommodation {
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
}

.food {
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
}

.souvenir {
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
}

.advantages-item-title {
	display: block;

	font-size: 21px;
	font-weight: 700;
	text-align: center;	
}

.advantages-item-description {
	padding-top: 20px;
	width: 290px;
	margin: 0 auto;

	color: #333333;
	text-align: center;
}

.reason-min-wrapper{
	display: flex;
	flex-direction: row;
}

.reason-min {
	width: 400px;
	padding-top: 50px;
	padding-bottom: 60px;

	color: #333333;
	background-color: #eeeeee;
}

.reason-min .reason-title {
	color: #000000;
}

.reason-min .reason-description{
	width: 280px;
}

.booking {
	padding-top: 40px;
}

.booking-title {
	margin: 0;
	padding-bottom: 25px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
}

.booking-description {
	margin: 0;
	padding-bottom: 45px;

	line-height: 24px;
	color: #333333;
	text-align: center;
}

.booking-search-button {
	display: block;
	margin: 0 auto;
	padding: 30px 161px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;

	background-color: #766357;
	background-position: center bottom;
	border: none;
}

.booking-search-button:hover {
	background-color: #604e43;
}

.booking-search-button:active {
	color: rgba(255,255,255,0.3);
	background-color: #503e33;
}

/*FORM`````````````````````````````*/
.map-wrapper {
	position: relative;
/*	border-top: 1px solid transparent;*/
}

.modal-form {
	position: absolute;
	left: 316px;
	right: 316px;
	top: 0px;
	padding: 55px;

	background-color: #ffffff;

	line-height: 26px;
	font-weight: 700;
}
/*Сделать тень*/

.form-item {
	display: flex;
	flex-direction: row;
	flex-basis: 1055px;
}


.modal-form input {
	font: inherit;
	background-color: #f2f2f2;
	border: 2px #f2f2f2;
}

.modal-form input:hover {
	background-color: #ebebeb;
	border: 2px #ebebeb;

}
.modal-form input:focus {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
}

.input::-webkit-input-placeholder {
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}
.input::-moz-placeholder {
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}/* Firefox 19+ */
.input:-moz-placeholder {
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}/* Firefox 18- */
.input:-ms-input-placeholder  {
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.date-text{
	padding-left: 12px;
}
/*отступ слева расширил поле ввода влево.  Хотела сделать отступ как в макете. Как исправить7 - box-sizing*/

.number-text {
	text-align: center;
}

.date-input{
	position: relative;
}

.date-input-calendar{
	font-size: 0;
}
.date-input-calendar::before {
	content: "";
	width: 50px;
	height: 50px;
	display: block;
/*	position: absolute;*/
	background-image: url("../img/calendar.svg");
	background-repeat: no-repeat;
}
/* Календарь не отображается. wtf*/
/* Это svg. У нас в styleguide три разные подсветки состояний. как задать цвет svg, вставленному ссылкой в CSS? */

/* Для себя - ввести состояния для календаря.*/
/*вставить в html svg/ позиционировать абсолютом через p или через фон*/

.guest-number-wrapper {
	display: flex;
	flex-direction: row
}

.guest-number-input {
	position: relative;
}

.decrease-button::before {
	content: "";
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	width: 11px;
  	height: 3px;
  	background-color: #a9a9a9;
  	transform: translate(-50%, -50%);
}

.increase-button::before {
	content: "";
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	width: 11px;
  	height: 3px;
  	background-color: #a9a9a9;
  	transform: translate(-50%, -50%);
}

.increase-button::after {
	content: "";
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	width: 3px;
  	height: 11px;
  	background-color: #a9a9a9;
  	transform: translate(-50%, -50%);
}

/*Для себя- выровнять псевдоэлементы*/
/*Создала -/+ и календарю, но отображаются кнопки. Дополнительно задаем кнопкам им класс vis-hidden? нет - задать цвет фона и тд */
/*Не отображаются картинки в псевдоэлементах (календари, иконки соцсетей, чекбоксы). Почему?*/

.decrease-button:hover::before,
.increase-button:hover::before,
.increase-button:hover::after {
	background-color: #000000;
}

.decrease-button:active::before,
.increase-button:active::before,
.increase-button:active::after {
	background-color: #81b3d2;
}

/*Не срабатывают правила. Ощущение, что правило воздействует на состояние кнопки, а не псевдоэлемента. Что делать?*/
/*Как задать цвет svg, вставленному ссылкой в CSS? */

.form-button {
	font: inherit;
	font-size: 21px;
	color: #ffffff;

	background-color: #81b3d2;
	border: none;
}

.form-button:hover {
	background-color: #669ec0;
}

.form-button:active {
	color: rgba(255,255,255,0.3);
	background-color: #5496bd;
}

/*FOOTER``````````````````````````````````*/
.main-footer {
	display: flex;
	flex-direction: row;
/*	position: absolute;*/
	box-sizing: border-box;
	width: 1200px;

	background-color: #fefefe;
	opacity: 0.9;
}

.footer-index{
	margin-top: -120px;
}

.footer-hashtag {
	width: 400px;
	padding-top: 47px;
	padding-bottom: 47px;
	margin: 0 auto;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
}

.social-list {
	display: flex;
	flex-direction: row;
	width: 400px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.social-item {
	position: relative;
}

.social-link-twitter::before {
	content: "";
	position: absolute;
	width: 46px;
	height: 48px;

	background-image: url("../img/twitter.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #81b3d2
}

.social-link-fb::before {
	content: "";
	position: absolute;
	width: 46px;
	height: 48px;

	background-image: url("../img/fb-icon.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #81b3d2
}

.social-link-youtube::before {
	content: "";
	position: absolute;
	width: 46px;
	height: 48px;

	background-image: url("../img/youtube.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #81b3d2
}
/* скрыть надписи */

.social-link:hover {
	background-color: #669ec0;
}

.social-link:active {
	background-color: #5496bd;
}

.social-link-youtube::before:active {
	opacity: 0.3;
}
/* Необходимо задать картинки соц сети прозрачность 30% при нажатии. Это возможно сделать только отдельным правилом для псевдоэлемента или можно как-то добавить в правило выше?*/


.footer-copyright {
	display: flex;
	flex-direction: row;
	width: 400px;
}

.footer-copyright-text {
	line-height: 26px;
}

.footer-copyright-logo:hover path{
	fill: #81b3d2;
}

.footer-copyright-logo:active path{
	fill: #bdbbbc;
}

/*HOTELS.HTML```````````````````````````````````````````````*/
.filter-form {
	display: flex;
	flex-direction: row;
	color: #ffffff;

	background-color: #81b3d2;
	background-image: url("../img/hotels-background.jpg"); 
	background-repeat: no-repeat;
}

.filter-title {
	font-size: 16px;
	font-weight: 700;
}

.filter-list {
	list-style: none;
}

fieldset {
	border: none;
}

.checkbox-title::before {
	content: "";
	display: block;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}

.filter-checkbox:checked + .checkbox-title::before {
	content: "";
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
}
/* Картинки чекбоксов не отобразились*/

/*.filter-checkbox:disabled {
	color: #6a6a6a;
}*/
/*Необходимо задать серый цвет для svg в состоянии заблокирован - как задать цвет svg, вставленному ссылкой в CSS? */

/*Форма с двумя бегунками````````````````*/

.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-form .button-submit {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-form .button-submit:hover {
  color: #000000;

  background: #ffffff;
}

.sorting {
	display: flex;
	flex-direction: row;
	padding-left: 73px;
	padding-right: 73px;
}

.sorting-result {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 40px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: left;
}

/*Себе - перепроверить отступы междц элементами*/
.sorting .sorting-type {
	font-size: 12px;
	line-height: 18px;
}

.sorting-type {
	display: flex;
	flex-direction: row;
}

.sorting-name {
	margin: 0;
	padding-top: 34px;
	padding-bottom: 34px;
	padding-right: 40px;
}

.sorting-list {
	display: flex;
	flex-direction: row;
	padding: 0;
	padding-top: 34px;
	padding-bottom: 34px;
	margin: 0;	
	margin-right: 505px;
	width: 238px;
	justify-content: space-between;

	list-style: none;
}

.sorting-link:not([href]) {
	color: #81b3d2;
	border-bottom: none;
}

.sorting-link {
	color: rgba(0,0,0,0.3);
	text-decoration: none;
    border-bottom: 1px dotted #81b3d2;
}
	
.sorting-link:hover {
	color: #81b3d2;
}

.sorting-link:active {
	color: #000000;
	border-bottom: none;
}

.sorting-order {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 38px;
	padding-bottom: 38px;
	width: 34px;
}

.sorting-order-button {
/*	width: 11px;
	height: 10px;*/
}
/*себе - перепроверить расстояние между элементами*/

.sorting-order-button:first:child {
	padding-right: 10px;
}

.sorting-order-button path{
	fill: #cacaca;
}

.sorting-order-button:not([href]) path {
	fill: #81b3d2;
}

.sorting-order-button:hover path{
	fill: #81b3d2;
}
.sorting-order-button:active path{
	fill: #000000;
}
/*Вроде все состояния работают у стрелок, но давай проговорим. Какая из записей псевдоклассов верней?*/

.product {
	display: flex;
	flex-direction: row;
	padding: 30px 73px;

	border-top: 1px solid #f6f6f6;
	border-bottom: 1px solid #f6f6f6;
}

.product-image {
	margin-right: 30px;
}

.product-content {
	display: flex;
	flex-direction: row;
	margin-right: 522px;
}

.product-name {
	margin: -7px 0 10px 0;
	width: 260px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	vertical-align: top;
	text-align: left;
}

.product-name:hover {
	color: #81b3d2;
}

.product-name:active {
	color: rgba(0,0,0,0.3);
}

.product-info-type {
	margin: 0;
	margin-bottom: 12px;
	width: 183px;
	box-sizing: border-box;

	text-align: left;
}

.product-info-price {
	right: 0px;
	text-align: right;
}
/*найти сдвинуть span вправо*/

.product-button {
	display: flex;
	flex-direction: row;
}

.product-button a {
	padding: 0 15px;
	height: 28px;
	margin-right: 5px;

	font-weight: 700;
	color: #ffffff;
	text-align: center;
	line-height: 28px;
}

.product-button-link {
	background-color: #81b3d2;
}

.product-button-link:hover {
	background-color: #669ec0;
}

.product-button-link:active {
	color: rgba(250,250,250,0.3);
	background-color: #5496bd;
}

.product-button-book {
	background-color: #766357
}
.product-button-book:hover {
	background-color: #604e43;
}

.product-button-book:active {
	color: rgba(250,250,250,0.3);
	background-color: #503e33;
}

.product-rating-list {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;

	list-style: none;
}

.product-rating-item {
	background-image: url("../img/star.svg");
	background-repeat: no-repeat;
}

.product-rating-mark {
	color: #666666;
	background-color: #f2f2f2;

}

.visually-hidden {
position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Такое свойство ок?*/